<div class="descEntrepriseBody">
    <h2><i class="material-icons md-36">location_city</i>L'employeur</h2>
    <div class="row">
    <div class="col-6">
      <img class="imgDescEntreprise" src="../../../../assets/img/proBTP.png" alt="">
    </div>
    <div class="col-6">
      <p>BTP, ARCHITECTURE</p>
      <p>Secteur d'activité : ...</p>
      <p>Site web : http://...</p>
    </div>
  </div>
<p class="descriptionEntreprise">Reveal DéveloppementReveal recherche des terrains pour permettre la construction d'immeubles de logements et de bureaux.</p>
</div>