.bodyPostulants {
    padding-bottom: 5%;
}

.titre {
    color: #26a69a;
    text-align: center;
    font-weight: bolder;
    padding-top: 3vh;
}

.titre2 {
    color: #26a69a;
    text-align: center;
    font-weight: bolder;
}

.bandeau {
    background-color: #26a69a;
    color: white;
}

.btnRetour {
    background-color: rgb(139, 139, 139);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3vh;
    margin-bottom: 5vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
}
  
.btnRetour:hover {
    background-color: #C2BFCA;;
}

table {
    width: 100%;
}