<div class="container-fluid bodyPageEntreprisesAdmin">
  <br>

  <div class="headerEntreprises">
    <div class="col-sm-12 titre">
      <h1>
        Entreprises
      </h1>
    </div>
    <hr>
    <div class="d-md-flex d-none d-md-block justify-content-around">
      <button type="button" class="btn col-3 col-sm-3" routerLink="/admin/entreprises/listeentreprises" routerLinkActive="router-link-active">Liste
        des Entreprises</button>
      <button type="submit" class="btn col-3 col-sm-3" routerLink="/admin/entreprises/creerentreprise" routerLinkActive="router-link-active">Créer
        une Entreprise</button>
    </div>

    <div class="d-flex d-block d-md-none justify-content-around">
      <button type="button" class="btn col-5" routerLink="/admin/entreprises/listeentreprises" routerLinkActive="router-link-active">Liste
        Entreprises</button>
      <button type="submit" class="btn col-5" routerLink="/admin/entreprises/creerentreprise" routerLinkActive="router-link-active">Créer
        Entreprise</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>