<div class="container bodyFormulaire">
  <form class="col-md-8" action="" method="post" [formGroup]="formulaireInscription">
    <div class="col-sm-12 titres">
      <h1>Création d'un compte entreprise</h1>
    </div>
    <hr>
    <div class="col-sm-12 titres">
      <h2>Informations sur l'entreprise</h2>
    </div>
    <div class="form-group">
      <label for="raisonSociale">Raison sociale*</label>
      <input type="text" class="form-control" id="raisonSociale" name="raisonSociale" placeholder="Raison sociale">
    </div>

    <div class="form-group">
      <label for="secteurActivité">Secteur d'activité*</label>
      <small id="secteurActivité" name="secteurActivité" class="form-text text-muted">Séléctionnez votre secteur d'activité.</small>
      <select class="form-control">
        <option value=""></option>
        <option>BTP</option>
        <option>Restauration</option>
        <option>Artisanat</option>
      </select>
    </div>

    <div class="form-group">
      <label for="statutEntreprise">Statut* (S.A.R.L, Association ...)</label>
      <small id="statutEntreprise" name="statutEntreprise" class="form-text text-muted">Séléctionnez le statut de votre entreprise</small>
      <select class="form-control">
        <option value=""></option>
        <option>EIRL</option>
        <option>SARL</option>
        <option>EURL</option>
        <option>SAS</option>
        <option>SASU</option>
        <option>SA</option>
        <option>SNC</option>
        <option>Association</option>
        <option>Autre</option>
      </select>
    </div>

    <div class="form-group">
      <label for="siteWeb">Site Web</label>
      <input type="text" class="form-control" id="siteWeb" name="siteWeb" placeholder="https://...">
    </div>

    <div class="form-group">
      <label for="adresse">Adresse*</label>
      <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville" placeholder="Lyon">
      </div>
      <div class="form-group col-md-6">
        <label for="codePostal">Code Postal*</label>
        <input type="text" class="form-control" id="codePostal" name="codePostal" placeholder="69009">
      </div>
    </div>

    <div class="form-group logo">
      <label for="logo" class="label-file">Logo</label>
      <input type="file" class="form-control-file input-file" id="logo" name="logo">
    </div>

    <div class="col-sm-12 titres">
      <h2>Référent de l'entreprise</h2>
    </div>

    <div class="form-check form-check-inline col-sm-3 mmeMr">
      <input class="form-check-input check" type="radio" name="madame" id="madame" value="option1" checked>
      <label class="form-check-label genre" for="madame">
        Madame
      </label>
    </div>
    <div class="form-check form-check-inline col-sm-3 mmeMr">
      <input class="form-check-input check" type="radio" name="monsieur" id="monsieur" value="option2">
      <label class="form-check-label genre" for="monsieur">
        Monsieur
      </label>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prenomReferent">Prénom*</label>
        <input type="text" class="form-control" id="prenomReferent" name="prenomReferent" placeholder="Prénom">
      </div>
      <div class="form-group col-md-6">
        <label for="nomReferent">Nom*</label>
        <input type="text" class="form-control" id="nomReferent" name="nomReferent" placeholder="Nom">
      </div>
    </div>

    <div class="form-group">
      <label for="fonction">Fonction</label>
      <input type="text" class="form-control" id="fonction" name="fonction" placeholder="Fonction">
    </div>

    <div class="form-group">
      <label for="tel">Téléphone</label>
      <input type="text" class="form-control" id="tel" name="tel" placeholder="n°">
    </div>

    <div class="col-sm-12 titres">
      <h2>Identifiants de l'entreprise</h2>
    </div>

    <div class="form-group">
      <label for="mail">E-mail*</label>
      <input type="email" class="form-control" id="mail" name="mail" placeholder="Exemple@mail.com">
    </div>

    <div class="form-group">
      <label for="mail">Confirmation d'E-mail*</label>
      <input type="email" class="form-control" id="mail" name="mail" placeholder="Entrze de nouveau votre e-mail">
    </div>

    <div class="form-group">
      <label for="mdp">Mot de passe*</label>
      <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez votre mot de passe">
    </div>

    <div class="form-group">
      <label for="mdp">Confirmation de mot de passe*</label>
      <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez de nouveau votre mot de passe">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label check" for="exampleCheck1">Je certifie avoir lu les conditions d'utilisation
        du site et m'y
        conformer*</label>
    </div>

    <p><i>Les informations suivies d'un astérisque (*) sont obligatoires. </i></p>

    <div class="d-flex justify-content-around">
      <button type="button" class="btn col-4 col-sm-5 shadow">Retour</button>
      <button type="submit" class="btn col-4 col-sm-5 shadow">Valider</button>
    </div>
  </form>
</div>