.is-invalid {
  border-left: solid 6px red;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.bodyFormulaire {
  background-color: #ffffff;
  margin-top: 30px;
}

form {
  color: #26a69a;
  margin: 0 auto;
  padding-top: 5vw;
  padding-bottom: 5vh;
}

.titres {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

h1,
h2 {
  text-align: center;
  font-weight: bolder;
}

hr {
  width: 75%;
  border: 2px solid #000;
}

input,
select,
textarea {
  background-color: #ebebeb;
  border: none;
}

.logo {
  overflow: hidden;
}

.mmeMr {
  padding-left: 1rem;
  padding-bottom: 1vh;
}

.genre,
.check {
  padding-left: 0.5rem;
  vertical-align: middle;
}

.btnValider {
  background-color: #26a69a;
  height: 8vh;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 3vh;
  box-shadow: 3px 3px 8px rgb(105, 105, 105);
}

.btnValider:hover {
  background-color: #2ed1bb;
}

.btnRetour {
  background-color: rgb(139, 139, 139);
  height: 8vh;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 3vh;
  box-shadow: 3px 3px 8px rgb(105, 105, 105);
}

.btnRetour:hover {
  background-color: #C2BFCA;;
}

::placeholder {
  color: #C2BFCA;
  opacity: 1;
}

.cguButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 119, 255);
}

.cguButton:hover {
  text-decoration: underline;
}