<div class="container bodyFormulaire">
  <form class="col-md-8" (ngSubmit)="onSubmit()" [formGroup]="formCreate">
    <div class="col-sm-12 titres">
      <h1>Création d'un compte entreprise</h1>
    </div>
    <hr>
    <div class="col-sm-12 titres">
      <h2>Informations sur l'entreprise</h2>
    </div>
    <div class="form-group">
      <label for="raisonSociale">Raison sociale*</label>
      <input formControlName="raisonSociale" type="text" class="form-control" id="raisonSociale" name="raisonSociale" placeholder="Raison sociale">
    </div>

    <div class="form-group">
      <label for="secteur">Secteur d'activité*</label>
      <small class="form-text text-muted">Séléctionnez votre secteur d'activité.</small>
      <select formControlName="secteur" type="text" class="form-control" id="secteur" name="secteur" placeholder="Secteur d'activité">
        <option value=""></option>
        <option>BTP</option>
        <option>Restauration</option>
        <option>Artisanat</option>
      </select>
    </div>

    <div class="form-group">
      <label for="statutEntreprise">Statut* (S.A.R.L, Association ...)</label>
      <small class="form-text text-muted">Séléctionnez le statut de votre entreprise</small>
      <select formControlName="statutEntreprise" id="statutEntreprise" name="statutEntreprise" class="form-control" placeholder="Statut de l'entreprise">
        <option value=""></option>
        <option>EIRL</option>
        <option>SARL</option>
        <option>EURL</option>
        <option>SAS</option>
        <option>SASU</option>
        <option>SA</option>
        <option>SNC</option>
        <option>Association</option>
        <option>Autre</option>
      </select>
    </div>

    <div class="form-group">
      <label for="siteWeb">Site Web</label>
      <input formControlName="siteWeb" type="text" class="form-control" id="siteWeb" name="siteWeb" placeholder="https://...">
    </div>

    <div class="form-group">
      <label for="adresse">Adresse*</label>
      <input formControlName="adresse" type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ville">Ville</label>
        <input formControlName="ville" type="text" class="form-control" id="ville" name="ville" placeholder="Lyon">
      </div>
      <div class="form-group col-md-6">
        <label for="codePostal">Code Postal*</label>
        <input formControlName="codePostal" type="text" class="form-control" id="codePostal" name="codePostal" placeholder="69009">
      </div>
    </div>

    <div class="form-group logo">
      <label for="logo" class="label-file">Logo</label>
      <input formControlName="logo" type="file" class="form-control-file input-file" id="logo" name="logo">
    </div>

    <div class="col-sm-12 titres">
      <h2>Référent de l'entreprise</h2>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prenomReferent">Prénom*</label>
        <input formControlName="prenom" type="text" class="form-control" id="prenomReferent" name="prenomReferent" placeholder="Prénom">
      </div>
      <div class="form-group col-md-6">
        <label for="nomReferent">Nom*</label>
        <input formControlName="nom" type="text" class="form-control" id="nomReferent" name="nomReferent" placeholder="Nom">
      </div>
    </div>

    <div class="form-group">
      <label for="fonction">Fonction</label>
      <input formControlName="fonction" type="text" class="form-control" id="fonction" name="fonction" placeholder="Fonction">
    </div>

    <div class="form-group">
      <label for="tel">Téléphone</label>
      <input formControlName="tel" type="text" class="form-control" id="tel" name="tel" placeholder="n°">
    </div>

    <div class="col-sm-12 titres">
      <h2>Identifiants de l'entreprise</h2>
    </div>

    <div class="form-group">
      <label for="mail">E-mail*</label>
      <input formControlName="mail" type="email" class="form-control" id="mail" name="mail" placeholder="Exemple@mail.com">
    </div>

    <div class="form-group">
      <label for="mail2">Confirmation d'E-mail*</label>
      <input formControlName="mail2" type="email" class="form-control" id="mail2" name="mail2" placeholder="Entrze de nouveau votre e-mail">
    </div>

    <div class="form-group">
      <label for="mdp">Mot de passe*</label>
      <input formControlName="mdp" type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez votre mot de passe">
    </div>

    <div class="form-group">
      <label for="mdp2">Confirmation de mot de passe*</label>
      <input formControlName="mdp2" type="password" class="form-control" id="mdp2" name="mdp2" placeholder="Entrez de nouveau votre mot de passe">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label check" for="exampleCheck1">Je certifie avoir lu les conditions d'utilisation
        du site et m'y
        conformer*</label>
    </div>

    <p><i>Les informations suivies d'un astérisque (*) sont obligatoires. </i></p>

    <div class="d-flex justify-content-around">
      <button (click)="retourPage()" type="button" class="btn col-4 col-sm-5 shadow">Retour</button>
      <button [disabled]="!formCreate.valid" type="submit" class="btn col-4 col-sm-5 shadow">Valider</button>
    </div>
  </form>
</div>