.bodyDetailOffre {
    background-color: #fff;
    
}
.headerDetailOffre {
    padding-top: 3%;
}
.headerDetailOffre h2 {
    font-weight: bolder;
    color: #2fa89a;
}

.line {
    border: 1px solid black;
    width: 70%;
    margin: 50px;
}
