<footer class="container footer sticky-bottom">

  <div class="row p-0 logoPartenaires">
    <div class="d-flex justify-content-between">
      <div class="col-md-1 text-center">
        <img src="../../assets/img/LogoAdoptFullBlack.png" alt="placeholder">
      </div>
      <div class="col-md-1 text-center">
        <img src="../../assets/img/proBTP.png" alt="logoProBTP"><a href="https://www.probtp.com/" target="_blank"></a>
      </div>
      <div class="col-md-1 text-center">
        <img src="../../assets/img/Souffle9.png" alt="logoSouffle9"><a href="https://www.souffle9.com/" target="_blank"></a>
      </div>
      <!-- <div class="col-md-1 .offset-md-1 text-center">
        <img src="../../assets/img/WCS.png" alt="logoWCS"><a href="https://wildcodeschool.fr/" target="_blank"></a>
      </div> -->
    </div>



    <div class="p-0 col-md-3 .offset-md-1">
      <ul class="liste">
        <li><a routerLink="/boiteaoutils/faq">F.A.Q</a></li>
        <li><button (click)=showCgu() type="button" class="cguButton">Informations légales</button></li>
        <li>
          <p>Copyright 2019 © Wild Code School</p>
        </li>
      </ul>
    </div>



    <div class="col-md-1 text-center">
      <a href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank"><img class="logoSociaux" src="/assets/img/FacebookLogo.png"></a>
    </div>
    <div class="col-md-1 text-center">
      <a href="https://twitter.com/Souffle9lyon" target="_blank"><img class="logoSociaux" src="/assets/img/TwitterLogo.png"></a>
    </div>
    <div class="col-md-1 text-center">
      <a routerLink="/contact" target="_blank"><img class="logoSociaux" src="/assets/img/ContactLogo.png"></a>
    </div>
  </div>



</footer>