<div class="container">
  <div class="row justify-content-around">

    <button *ngIf="isInfo==false" type="button" class="col-md-5 linkInscription text-center" role="button" id="moredetails"
      routerLink="/inscriptionentreprise">
      <h5>Vous êtes une entreprise ?</h5>
      <p>Partagez votre savoir-faire et aidez les collégiens de 3ème
        à trouver un stage qui leur plaise !</p>
      <p>Participez à un projet solidaire.</p>
      <p>Devenez acteur de la vie économique.</p>
      <p>Valorisez et faites découvrir votre métier.</p>
      <a class="inscription" routerLink="/inscriptionentreprise">M'inscrire en tant qu'entreprise.</a>
    </button>

    <button *ngIf="isEntreprise==true" type="button" class="col-md-5 linkInscription text-center" role="button" id="moredetails"
      routerLink="/boardentreprise/creeroffre">
      <h5>Vous êtes une entreprise ?</h5>
      <p>Partagez votre savoir-faire et aidez les collégiens de 3ème
        à trouver un stage qui leur plaise !</p>
      <p>Participez à un projet solidaire.</p>
      <p>Devenez acteur de la vie économique.</p>
      <p>Valorisez et faites découvrir votre métier.</p>
      <a class="inscription" routerLink="/boardentreprise/creeroffre">Créez une offre.</a>
    </button>

    <button *ngIf="isInfo==false" type="button" class="col-md-5 linkInscription text-center" role="button" id="moredetails"
      routerLink="/inscriptionstagiaire">
      <h5>Tu es un collégien ?</h5>
      <p>Tu cherches un stage de 3ème ?</p>
      <p>Tu ne sais pas comment t'y prendre ?</p>
      <p>Tu manques d'expérience et de réseau ?</p>
      <p>Découvre les offres en ligne des entreprises près de chez toi.</p>
      <p>Décroche le stage qui te plaît en quelques clics !</p>
      <a class="inscription" routerLink="/inscriptionstagiaire">M'inscrire en tant que stagiaire.</a>
    </button>

    <button *ngIf="isStagiaire==true" type="button" class="col-md-5 linkInscription text-center" role="button" id="moredetails"
      routerLink="/offres">
      <h5>Tu es un collégien ?</h5>
      <p>Tu cherches un stage de 3ème ?</p>
      <p>Tu ne sais pas comment t'y prendre ?</p>
      <p>Tu manques d'expérience et de réseau ?</p>
      <p>Découvre les offres en ligne des entreprises près de chez toi.</p>
      <p>Décroche le stage qui te plaît en quelques clics !</p>
      <a class="inscription" routerLink="/offres">Voir la liste des offres.</a>
    </button>

  </div>
</div>