<div class="row postulCenter d-flex justify-content-center">
 
  <div class="headerPostuler text-center">
    <h2>Tu postules à l'annonce :</h2>
    <h2>Nom de l'annonce - Entreprise</h2>
    <hr class="line">
  </div>

</div>
<div class="row postulCenter d-flex justify-content-center">

  <div class="form downloadfiles">
    <div class="row form-group file text-right">
      <p class="col-6">Télécharge ton CV</p> 
      <input class="col-6 form-control-file" type="file" name="file" />
    </div>
    
    <div class="row form-group file text-right">
      <p class="col-6">Télécharge ta lettre de motivation</p> 
      <input class="col-6 form-control-file" type="file" name="file" />
    </div>
    
    <div class="row form-group file">
      <p class="col-12">Un petit mot pour l'entreprise</p> 
      <textarea class="col-12 postArea" type="text" name="text" placeholder="Présentes-toi brièvement avec ton nom, prénom, établissement et date de stage par exemple."></textarea>
    </div>
  </div>

</div>

<div class="btnPost d-flex justify-content-center">
  
  <a class="btn btnRetour" role="button" id="moredetails" target="_blank" href="#">
    <p>Retour</p>  
  </a>
  
  <button type="submit" class="btn btnValid mb-2">Valider la <br>candidature</button>
</div>