<div class="container infoStageBody">
    <div class="row period mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">date_range</i>
        </div>
        <div class="col-10">
            <h2>Période de stage</h2>
            <p>du {{offre.dateDebut}} au {{ offre.dateFin }}</p>
        </div>
    </div>
    <div class="row mail mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">supervisor_account</i>
        </div>
        <div class="col-10 mt-2">
            <h5><b>Référent :</b> {{ offre.entreprise.prenom }} {{ offre.entreprise.name }}</h5>
        </div>
    </div>
    <div class="row location mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">home</i>
        </div>
        <div class="col-10 mt-2">
            <h5><b>Adresse</b></h5> <h5> {{ offre.rue }} <br> {{ offre.ville }} <br> {{ offre.codePostal }} </h5>
        </div>
    </div>
</div>
          

        