<div class="infoStageBody">
    <div class="row period mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">date_range</i>
        </div>
        <div class="col-10">
            <h2>Période de stage</h2>
            <p>Du 07 janvier 2019 au 29 mars 2019</p>
        </div>
    </div>
    <div class="row mail mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">mail_outline</i>
        </div>
        <div class="col-10">
            <h5>Mail : {{ offre.entreprise.email }}</h5>
        </div>
    </div>
    <div class="row phone mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">phone</i>
        </div>
        <div class="col-10">
            <h5>Tel : {{ offre.entreprise.tel }}</h5>
        </div>
    </div>
    <div class="row location mt-4">
        <div class="col-2 d-flex justify-content-center">
            <i class="material-icons md-36">home</i>
        </div>
        <div class="col-10">
            <h5>Adresse : {{ offre.rue }} {{ offre.codePostal }} {{ offre.ville }}</h5>
            <h5>69009 Lyon</h5>
        </div>
    </div>
</div>