<div *ngIf="offres || offresPourvues" class="container bodyGestionCandidatures">
  <h2 class="titre text-center">GESTION DES CANDIDATURES</h2>
  <div *ngIf="offres.length != 0; else noTableResults">
    <h4>Mes candidatures en cours <img src="/assets/img/happy.png" alt=""> </h4>
    <br>
    <table *ngIf="offres.length; else noTableResults" class="table table-striped thead-light table-hover" id="content"
      #content>
      <thead class="headBG">
        <tr>
          <th>Offre</th>
          <th>Période</th>
          <th>Lieu du stage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres" style="width: 300px; cursor: pointer;" [routerLink]="['/detailoffre', offre.id]">
          <td> <b>{{offre.titre}}</b> </td>
          <td> du {{offre.dateDebut}} au {{offre.dateFin}} </td>
          <td> {{offre.rue}} , {{offre.codePostal}} {{offre.ville}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="downloadPDF()">Enregistre/Imprime tes candidatures</button>
  </div>
  <ng-template #noTableResults>
    <h3 class="text-center">
      Aucune candidature en cours !
    </h3>
  </ng-template>
  <h5 *ngIf="!offres && offres.length == 0">Tu n'as pas encore déposé de candidature.</h5>
  <br>
  <h4 *ngIf="offresPourvues && offresPourvues == true" >Offres déjà pourvues <img src="/assets/img/sad.png" alt=""> </h4>
  <table *ngIf="offresPourvues && offresPourvues == true" class="table table-striped thead-light table-hover">
    <thead class="headBG">
      <tr>
        <th>Offre</th>
        <th>Période</th>
        <th>Lieu du stage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offrePourvue of offresPourvues" style="width: 300px; cursor: pointer;" [routerLink]="['/detailoffre', offrePourvue.id]">
        <td> <b>{{offrePourvue.titre}}</b> </td>
        <td> du {{offrePourvue.dateDebut}} au {{offrePourvue.dateFin}} </td>
        <td> {{offrePourvue.rue}}, {{offrePourvue.codePostal}} {{offrePourvue.ville}}</td>
      </tr>
    </tbody>
  </table>
</div>