<!-- <div class="d-flex justify-content-around">
    <button type="button" class="btn col-4 col-sm-5 shadow" routerLink="/boardstagiaire/gestionstagiaire">Mes infos de profil</button>
    <button [disabled]="!isValid" type="submit" class="btn col-4 col-sm-5 shadow">Mes candidatures en cours</button>
</div> -->

<p>
  gestion-candidatures works!
  Afficher liste des offres auxquelles le candidat a postulé!
</p>

<button type="button" class="btn col-4 col-sm-5 shadow">Voir la liste des offres</button>
