<!-- <div class="container bodyConnexion">
    <h1 class="text-center">Pour postuler aux offres ou proposer un stage, inscrivez-vous !</h1>
    <app-formulaire-connexion></app-formulaire-connexion>
    <app-boutons-inscription-connexion></app-boutons-inscription-connexion>
</div>
 -->

<div class="container bodyConnexion pb-5">
    <div class="row connexionCenter d-flex justify-content-center">

        <div class="headerConnexion text-center">
            <h2>Pour postuler aux offres ou proposer un stage, <br>inscrivez-vous !</h2>
            <hr>
        </div>

    </div>
    <app-alert></app-alert>
    <app-formulaire-connexion></app-formulaire-connexion>
    <hr>
    <app-boutons-inscription-connexion></app-boutons-inscription-connexion>
</div>