<div class="container p-0 componentBodyOffres">
    <div class="titre">
        <h2>DERNIERES OFFRES</h2>
    </div>
    
    <div *ngIf="offres" class="bodyOffres">
        <div *ngIf="offres" class="table-responsive">
            <table class="table table-striped thead-light table-hover">
                <thead class="tableHeader">
                    <tr>
                        <th></th>
                        <th>Secteur</th>
                        <th>Offre</th>
                        <th>Ville</th>
                        <th>Détail</th>
                    </tr>
                </thead>
                
                <tbody *ngFor="let offre of offres; let i=index">          
                    <tr *ngIf="i < 5" style="cursor: pointer;" [routerLink]="['/detailoffre', offre.id]">
                        <td><img src="../../../../assets/img/computuer.jpeg" alt=""></td>
                        <td>{{offre.entreprise.secteur}}</td>
                        <td> {{offre.titre}}<br> {{offre.entreprise.raisonSociale}} </td>
                        <td> {{offre.ville}} </td>
                        <td><i [routerLink]="['/detailoffre', offre.id]" class="material-icons" style="color:#26a69a; cursor: pointer;">remove_red_eye</i></td>

                    </tr>
                </tbody>          
            </table>
        </div>
    </div>
    <div  class="lienOffres">
        <a [routerLink]="['/offres']"><h4>Voir la liste complète</h4></a>
    </div>
</div>