<div class="col-12 p-0 componentBodyStagiaires ">
  <div class="titre">
    <h2>DERNIERS STAGIAIRES</h2>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table class="limit" [dataSource]="stagiaires" [class.isMobile]="isMobile" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.name}} <br> {{stagiaire.prenom}}</td>
      </ng-container>

      <ng-container matColumnDef="civilite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Civilité</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.civilite}} </td>
      </ng-container>

      <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Etablissement</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.etablissement}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator paginator [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"></mat-paginator>
  </div>
</div>

<div class="row justify-content-center">
    <button type="button" class="btn col-5" routerLink="/admin/stagiaires/listestagiaires">Voir tous les stagiaires</button>
</div>