<div class="container-fluid bodyPageFaqAdmin">
    <br>
  
    <div class="headerFaq">
      <div class="col-sm-12 titre">
        <h1>
          F.A.Q
        </h1>
      </div>
      <hr>
      <div class="d-flex justify-content-around">
        <button type="button" class="btn col-3 col-sm-3" routerLink="/admin/faq/listefaq" routerLinkActive="router-link-active">Liste
          des F.A.Q</button>
        <button type="submit" class="btn col-3 col-sm-3" routerLink="/admin/faq/creerfaq" routerLinkActive="router-link-active">Créer
          une
          F.A.Q</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>