<div class="container bodyBoard">
    <br>
    <div class="col-sm-12 titres">
        <h2 *ngIf="stagiaire">Bonjour <span style="color: #26a69a">{{stagiaire.prenom}}</span>, bienvenue sur ton
            tableau de bord !</h2>
    </div>
    <hr>
    <div class="d-flex justify-content-around">

        <button mat-raised-button type="submit" class="btn col-md-3 col-sm-3" routerLink="/boardstagiaire/listeoffres"
            routerLinkActive="router-link-active">Liste d'offres</button>
        <button mat-raised-button type="submit" class="btn col-md-3 col-sm-3" routerLink="/boardstagiaire/gestionstagiaire"
            routerLinkActive="router-link-active">Mes
            candidatures en cours</button>
        <button mat-raised-button type="button" class="btn col-md-3 col-sm-3" routerLink="/boardstagiaire/infosstagiaire"
            routerLinkActive="router-link-active">Mes infos
            de profil</button>
    </div>
    <router-outlet></router-outlet>
</div>