<div class="row boutonInscription d-flex justify-content-center">
<a class="btn btn-primary btnStagiaire" role="button" id="moredetails" target="_blank" href="#">
  <h1>Stagiaire</h1>
  <h6>■ ■ ■ ■ ■ ■</h6>
  <p>Inscrivez vous en tant qu'élève <br>stagiaire de 3e.</p>
  <p>Consultez les offres disponibles <br>et envoyez vos candidatures !</p>  
</a>

<a class="btn btn-secondary btnEntreprise" role="button" id="moredetails" target="_blank" href="#">
  <h1>Entreprise</h1>
  <h6>■ ■ ■ ■ ■ ■</h6>
  <p>Inscrivez vous en tant que <br>recruteur.</p>
  <p>Déposez des offres et consultez <br>vos candidatures en attente.</p>
</a>
</div>