.inscriptionStagiaire {
    background-color: #00ac9a;
    color: white;
}

.ordonnedList {
    list-style-position: inside;
    margin-left: -45px;
}

.btnEntreprise {
    background-color: #00ac9a;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    height: 5vh;
    color: white;
    font-weight: bold;
}

.btnStagiaire {
    background-color: #ffffff;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    height: 5vh;
    color: black;
    font-weight: bold;
}


.btn:hover {
    background-color: #2ed1bb;
}