@media screen and (max-width: 640px) {
    img {
        display: none;
    }


    #lol {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
        position: relative;
    }

    #leftSide {
        width: 100%;
        float: left;

    }

    #rightSide {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width: 641px) {
    img {
        width: 150px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }


    #lol {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
        position: relative;
    }

    #leftSide {
        width: 50%;
        float: left;

    }

    #rightSide {
        width: 50%;
        float: left;
    }
}

.inscriptionStagiaire {
    background-color: #00ac9a;
    color: white;
}

.ordonnedList {
    list-style-position: inside;
    margin-left: -45px;
}

.btnEntreprise {
    background-color: #00ac9a;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: white;
    font-weight: bold;
}

.btnStagiaire {
    background-color: #ffffff;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: black;
    font-weight: bold;
}


.btn:hover {
    background-color: #2ed1bb;
}