<div class="descriptionQSN">
  <p>Le projet Adopt’un Stage a été pensé et développé par le fonds de dotation Souffle 9 et le groupe Pro BTP afin de faciliter la <b>mise en relation des élèves de 3è en recherche de stage et les entreprises du territoire.</b>  
    Cette plateforme permet aux élèves de trouver un stage dans le domaine qui leur plait en s’appuyant sur les ressources économiques locales. 
    Pour les entreprises, un label « Adopt’un Stage » est aussi mis en place, leur permettant de faire valoir leur implication sur le territoire et auprès des jeunes. 
  </p>
  <p>Le projet Adopt’Un Stage a été imaginé par le fonds de dotation Souffle 9 et le groupe  Pro BTP, en collaboration avec les équipes pédagogiques des collèges de Lyon  9ème. 
    Dans la lignée des actions territoriales développées par Souffle 9, le projet a été développé et mis en œuvre avec les élèves de  Sup de Com (campus René Cassin) et la Wild Code School.  
    Les élèves de Sup de Com ont travaillé sur la campagne de communication et l’identité visuelle du projet, alors que les élèves de la Wild Code School ont développé la plateforme web, dans le cadre de leur projet d’études. 
  </p>
  <p>  
    <u>Souffle</u> est <b>un fonds de dotation,</b> institution pérenne chargée d’une mission d’intérêt général, qui a pour <b>objet de mobiliser les acteurs du territoire à soutenir des projets de proximité.</b> 
    Véritable lieu de rencontres et d’échanges entre les différents acteurs du fonds, Souffle 9 est <b>une plateforme innovante</b> qui permet <b>la création de nouvelles synergies à travers des actions de proximité utilisant les ressources du territoire.</b>
  </p>  
    
  <p><u>Pro Btp</u> : Santé, prévoyance, retraite, épargne et assurance, PRO BTP est le groupe de protection sociale au service des entreprises, artisans, salariés, apprentis et retraités du BTP.
    Pour construire les services de demain et renforcer son accompagnement, le Groupe investit dans l'innovation liée notamment au métier de l’assurance et au domaine de la santé. 
    PRO BTP renforce son engagement solidaire auprès des professionnels de la construction principalement à travers sa politique de Responsabilité sociétale de l’entreprise (RSE).
  </p>
</div>
