<div class="container bodyQuiSommesNous">
  <div class="descriptionQSN">
    <p>Le projet Adopt’un Stage a été pensé et développé par le fonds de dotation Souffle 9 et le groupe Pro BTP afin
      de
      faciliter la <b>mise en relation des élèves de 3è en recherche de stage et les entreprises du territoire.</b>  
      Cette plateforme permet aux élèves de trouver un stage dans le domaine qui leur plait en s’appuyant sur les
      ressources économiques locales.
      Pour les entreprises, un label « Adopt’un Stage » est aussi mis en place, leur permettant de faire valoir leur
      implication sur le territoire et auprès des jeunes. 
    </p>
    <p>Ce projet a été construit en en collaboration avec les équipes pédagogiques des collèges de Lyon 9ème.
      Dans la lignée des actions territoriales développées par Souffle 9, le projet a été développé et mis en œuvre
      avec
      les élèves de Sup de Com (campus René Cassin) et la Wild Code School.
      Les élèves de Sup de Com ont travaillé sur la campagne de communication et l’identité visuelle du projet, alors
      que
      les élèves de la Wild Code School ont développé la plateforme web, dans le cadre de leur projet d’études. 
    </p>
    
  </div>
<br>
<app-acteurs></app-acteurs>
<app-remerciements></app-remerciements>
</div>