.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
    margin: 15px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.titleDescOffre {
    color: #fff;
}

.textDescOffre {
    color: #fff;
    margin: 50px;
}

.descOffreBody {
    background-color: #00B499;
    
    border: 2px solid;
    border-color: rgb(235, 235, 235);
}