<br>
<app-alert></app-alert>
<div class="container col-10 bodyListeStagiaires d-flex justify-content-center">
  <div class="col-10 mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre de recherche">
    </mat-form-field>
    <table mat-table class="limit" [dataSource]="stagiaires" matSort>

      <ng-container matColumnDef="civilite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Civilité</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.civilite}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.name}} </td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.email}} </td>
      </ng-container>

      <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Etablissement</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.etablissement}} </td>
      </ng-container>

      <ng-container matColumnDef="ville">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.ville}} </td>
      </ng-container>

      <ng-container matColumnDef="codePostal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Postal</th>
        <td mat-cell *matCellDef="let stagiaire"> {{stagiaire.codePostal}} </td>
      </ng-container>

      <i class="material-icons"></i>

        <ng-container matColumnDef="candidatures">
          <th mat-header-cell *matHeaderCellDef>Candidatures</th>
          <td mat-cell *matCellDef="let stagiaire"> <i [routerLink]="['/admin/stagiaires/candidaturesstagiaire/', stagiaire.username]"
              class="material-icons" style="color:#ff9900; cursor: pointer;">assignment</i> </td>
        </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let stagiaire"> <i [routerLink]="['/admin/stagiaires/modifierstagiaire', stagiaire.id]"
            class="material-icons" style="color:blue; cursor: pointer;">edit</i> </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef>Supprimer</th>
        <td mat-cell *matCellDef="let stagiaire"> <i class="material-icons" style="color:red; cursor: pointer;" (click)=showConfirm(stagiaire.username)>delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
  </div>

</div>