.bodyFormContact {
    padding-bottom: 2%;
}

.is-invalid {
    border: solid 1px red;
}

.personnalInfo {
    margin: 1%;
}

.title {
    padding: 0;
    color: #26a69a;
    font-weight: bolder;
}

.form-control {
    background-color: rgb(226, 226, 226);
}

.postArea {
    height: 200px;
    background-color: #ebebeb;
    border: none;
}
input {
    background-color: #ebebeb;
    border: none;
}

::placeholder {
    color: #C2BFCA;
    opacity: 1;
}

.btn {
    background-color: #00ac9a;
    border: none;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px 25px 5px 25px;
    font-weight: bolder;
    margin: 2%;
}

.btn:hover {
    background-color: #2ed1bb;
}