<div class="container bodyFormContact col-8 col-md-12">
  <div class="postulCenter d-flex  justify-content-center">

    <div class="form col-md-6 contacttext">
      <div class="row form-group text-left">
        <h5 class="col-12 title">Sujet de votre message</h5>
        <input class="col-12 form-control" type="text" name="text" placeholder="Sujet de votre message" />
      </div>

      <div class="row form-group text-left">
        <h5 class="col-12 title">Message</h5>
        <textarea class="col-12 form-control postArea" type="text" name="text" placeholder="Posez votre question, décrivez votre problème ou faites nous un retour."></textarea>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="row personnalInfo justify-content-center col-md-2 form-group">
      <h5 class="col title text-left">Nom</h5>
      <input class="col-12 form-control" type="text" name="text" placeholder="Nom" />
    </div>
    <div class="row personnalInfo justify-content-center col-md-2 form-group">
      <h5 class="col title text-left">Prénom</h5>
      <input class="col-12 form-control" type="text" name="text" placeholder="Prénom" />
    </div>
    <div class="row personnalInfo justify-content-center col-md-2 form-group">
      <h5 class="col title text-left">Email</h5>
      <input class="col-12 form-control" type="mail" name="mail" placeholder="Email" />
    </div>
  </div>



  <div class="btnPost d-flex justify-content-center">

    <button type="submit" class="btn btnValid mb-2">Envoyer</button>
  </div>
</div>