<div class="container bodyFormContact col-8 col-md-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="formContact">
    <div class="postulCenter d-flex  justify-content-center">

      <div class="col-md-6 contacttext">
        <div class="row form-group text-left">
          <label for="title" class="title">Sujet de votre message</label>
          <input id="title" formControlName="title" type="text" class="col-12 form-control" [ngClass]="formContact.controls['title'].invalid ? 'is-invalid' : ''"
            placeholder="Sujet de votre message">
          <label class="text-danger" *ngIf="formContact.controls['title'].hasError('required')">
            Le sujet de votre message est requis!
          </label>
          <label class="text-danger" *ngIf="formContact.controls['title'].hasError('title')">
            Merci de remplir le champ!
          </label>
        </div>

        <div class="row form-group text-left">
          <label for="message" class="title">Message</label>
          <textarea id="message" formControlName="message" type="text" class="col-12 form-control postArea" [ngClass]="formContact.controls['message'].invalid ? 'is-invalid' : ''"
            placeholder="Posez votre question, décrivez votre problème ou faites nous un retour."></textarea>
          <label class="text-danger" *ngIf="formContact.controls['message'].hasError('required')">
            Vous devez entrer un message!
          </label>
          <label class="text-danger" *ngIf="formContact.controls['message'].hasError('message')">
            Merci de remplir le champ!
          </label>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="row personnalInfo justify-content-center col-md-2 form-group">
        <label for="name" class="col title text-left">Nom</label>
        <input id="name" formControlName="name" type="text" class="form-control" [ngClass]="formContact.controls['name'].invalid ? 'is-invalid' : ''"
          placeholder="Nom">
        <label class="text-danger" *ngIf="formContact.controls['name'].hasError('required')">
          Votre nom est requis!
        </label>
        <label class="text-danger" *ngIf="formContact.controls['name'].hasError('nomReferent')">
          Merci d'entrer votre nom!
        </label>
      </div>

      <div class="row personnalInfo justify-content-center col-md-2 form-group">
        <label for="prenom" class="col title text-left">Prénom</label>
        <input id="prenom" formControlName="prenom" type="text" class="form-control" [ngClass]="formContact.controls['prenom'].invalid ? 'is-invalid' : ''"
          placeholder="Prénom">
        <label class="text-danger" *ngIf="formContact.controls['prenom'].hasError('required')">
          Votre prénom est requis!
        </label>
        <label class="text-danger" *ngIf="formContact.controls['prenom'].hasError('prenom')">
          Merci d'entrer votre prénom!
        </label>
      </div>

      <div class="row personnalInfo justify-content-center col-md-2 form-group">
        <label for="email" class="col title text-left">E-mail</label>
        <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="formContact.controls['email'].invalid ? 'is-invalid' : ''"
          placeholder="E-mail">
        <label class="text-danger" *ngIf="formContact.controls['email'].hasError('required')">
          Le mail est requis!
        </label>
        <label class="text-danger" *ngIf="formContact.controls['email'].hasError('email')">
          Entrez une adresse mail valide!
        </label>
      </div>
    </div>

    <div class="form-group btnPost d-flex justify-content-center">
      <button [disabled]="formContact.invalid" type="submit" class="btn btnValid mb-2">Envoyer</button>
    </div>
    <img *ngIf="loading" src="../../../../assets/img/loading.gif" />
  </form>
</div>