.bodyOffres {
    background-color: white;
}

.titre {
    color: #FB6F07;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 3vw;  
    padding-top: 3vw;
}

hr {
    border: solid 1px;
    width: 65%;
}