.bodyBoiteAOutils {
    background-color: white;
}

.btn {
    background-color: #26a69a;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
}


.btn:hover {
    background-color: green;
}