<div class="container bodyBoiteAOutils pt-4">
  <div class="row d-flex justify-content-around">
    <button type="button" class="btn col-md-3 col-sm-4" routerLink="/boiteaoutils/aide" routerLinkActive="router-link-active">Aide</button>
    <button type="submit" class="btn col-md-3 col-sm-4" routerLink="/boiteaoutils/faq" routerLinkActive="router-link-active">FAQ</button>
    <button type="submit" class="btn col-md-3 col-sm-4" routerLink="/boiteaoutils/contact" routerLinkActive="router-link-active">Contact</button>
  </div>

</div>

<router-outlet></router-outlet>