.bodyBoiteAOutils {
    background-color: white;
}

.btnnav {
    background-color: #00ac9a;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
}

.router-link-active {
    background-color: #FF8E3A;
}
.router-link-active:hover {
    background-color: rgb(255, 178, 118) !important;
}
.btnnav:hover {
    background-color: #2ed1bb;
}