.bodyBoiteAOutils {
    background-color: white;
}

.btn {
    background-color: #00ac9a;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
}


.btn:hover {
    background-color: #2ed1bb;
}