<div id="form" class="row bodyFormConnect d-flex justify-content-center">
<h5 class="text-center col-12">Déjà inscris ?<br/>Identifiez-vous</h5>
<form class="row d-flex justify-content-center connexionForm col-8 col-md-4"
      [formGroup]="formConnect"
      (ngSubmit)="submitFormulaireConnexion()">
  <div class="form-group col-12">
    <input formControlName="mail" type="email" class="form-control" id="mail" placeholder="E-Mail" [ngClass]="formConnect.controls['mail'].invalid ? 'is-invalid' : ''">
  </div>
  <div class="form-group col-12">
    <input formControlName="motDePasse" type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" [ngClass]="formConnect.controls['motDePasse'].invalid ? 'is-invalid' : ''">
  </div>
  <button type="submit" [disabled]="formConnect.invalid" class="btn connectSubmit">Se connecter</button>
</form>
</div>