h5 {
    font-weight: bolder;
    color: #2fa89a;
}

.form-control {
    background-color: rgb(226, 226, 226);
}

input {
    background-color: #ebebeb;
    border: none;
}

::placeholder { 
    color: #C2BFCA;
    opacity: 1; 
}

.connectSubmit {
    width: 300px;
    height: 60px;
    background-color: #2fa89a;
    color: white;
    font-weight: bolder;
    font-size: 1.4em;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);

}

.connectSubmit:hover {
    background-color: green;
}
#form{
    margin-bottom: 30px;
    margin-top: 20px;
}