<div class="container">
    <h1 class="text-center">Tableau de bord entreprise</h1>
    <hr>
    <div class="row justify-content-center">
        <nav>
            <a routerLink="/boardentreprise/gestionoffres" class="btn btn-primary active" role="button">Gestion
                des annonces</a>
            <a routerLink="/boardentreprise/creeroffre" class="btn btn-primary active" role="button">Créer
                une
                annonce</a>
            <a routerLink="/boardentreprise/infosentreprise" class="btn btn-primary active" role="button">Infos
                de
                mon entreprise</a>
        </nav>
        <div class="col-8 justify-content-center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>