<div class="container bodyBoard">
    <h1 class="text-center titre">Tableau de bord entreprise</h1>
    <hr>
    <div class="row justify-content-center">
        <nav>
            <a routerLink="/boardentreprise/gestionoffres" class="btn btn-primary btn-xs " role="button">Gestion
                des annonces</a>
            <a routerLink="/boardentreprise/creeroffre" class="btn btn-primary btn-xs " role="button">Créer
                une
                annonce</a>
            <a routerLink="/boardentreprise/infosentreprise" class="btn btn-primary btn-xs " role="button">Infos
                de
                mon entreprise</a>
        </nav>
    </div>
    <div class="row justify-content-center">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>