.is-invalid {
    border-left: solid 6px red;
  }
  
  .material-icons {
    display: inline-flex;
    vertical-align: middle;
  }
  
.blocUpdateProfil {
    padding-top: 3rem;
    padding-left: 2rem;
}

.bodyFormulaire {
    background-color: white;
}

form{
    color: #26a69a;
    margin: 0 auto;
    padding-top: 3vw;
    padding-bottom: 3vh;
}

input, select{
    background-color: #ebebeb;
    border: none;
}
  
.mmeMr{
    padding-left: 1rem;
    padding-bottom: 1vh;
}
  
.btn{
    background-color: #26a69a;
    height: 9vh;
    width: 40vh;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin: auto;
    display: block;
}
  
.btn:hover {
    background-color: green;
}

::placeholder { 
    color: #C2BFCA;
    opacity: 1; 
}