.card-group {
    overflow: auto;
    padding: 3vh;
}

.card {
    overflow: hidden;
    cursor: pointer;
    background-color: #efeded;
    border: none;
}

.card:hover {
    opacity: 0.5;
}

.titre {
    color: #FB6F07;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    padding-top: 2vw;
}

h2 {
    color: #FB6F07;
    font-weight: bolder;
}

.card-title {
    color: #26a69a;
}