<div class="container bodyCreerOffre">
  <h1 class="titre">CRÉER UNE OFFRE</h1>
  <form class="col-md-8" [formGroup]="formOffre" (ngSubmit)="onSubmit()">
    <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être
      remplis.</p>
    <div class="form-group">
      <label for="titre">Intitulé du poste*</label>
      <input type="text" formControlName="titre" class="form-control" id="titre" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }"
        placeholder="ex: Boulanger, Informaticien">
      <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
        <div *ngIf="f.titre.errors.required">L'intitulé du poste est requis !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descriptif du poste*</label>
      <textarea class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        id="description" rows="3" placeholder="Décrivez en quelques lignes ce que le stagiaire sera amené à faire et découvrir.">
    </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Le descriptif est requis !</div>
      </div>
    </div>

    <div class="form-group">
    <label for="dateDebut">Date de début du stage*</label>
      <input type="date" formControlName="dateDebut" class="form-control" id="dateDebut" [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }"
        placeholder="">
      <div *ngIf="submitted && f.dateDebut.errors" class="invalid-feedback">
        <div *ngIf="f.dateDebut.errors.required">La date de début du stage est requise !</div>
      </div>
    </div>

    <!-- <div class="form-group">
      <mat-form-field>
        <input class="calendrier" matInput [matDatepicker]="picker" [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }"
          placeholder="Date du début de stage">
        <mat-datepicker-toggle class="calendrier" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="submitted && f.dateDebut.errors" class="invalid-feedback">
        <div *ngIf="f.dateDebut.errors.required">La date de début du stage est requise !</div>
      </div>
    </div> -->

    <div class="form-group">
      <label for="dateFin">Date de fin du stage*</label>
      <input type="date" formControlName="dateFin" class="form-control" id="dateFin" [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }"
        placeholder="">
      <div *ngIf="submitted && f.dateFin.errors" class="invalid-feedback">
        <div *ngIf="f.dateFin.errors.required">La date de fin du stage est requise !</div>
      </div>
    </div>

    <br>

    <h2 class="text-center titres">LOCALISATION DU STAGE</h2>

    <div class="form-group">
      <label for="rue">Adresse*</label>
      <input type="text" class="form-control" formControlName="rue" id="rue" [ngClass]="{ 'is-invalid': submitted && f.rue.errors }"
        placeholder="ex: 25 rue de Vaise">
      <div *ngIf="submitted && f.rue.errors" class="invalid-feedback">
        <div *ngIf="f.rue.errors.required">L'adresse du lieu de stage est requise !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="ville">Ville*</label>
      <input type="text" class="form-control" formControlName="ville" id="ville" [ngClass]="{ 'is-invalid': submitted && f.ville.errors }"
        placeholder="ex: Lyon">
      <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
        <div *ngIf="f.ville.errors.required">La ville est requise !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="codePostal">Code postal*</label>
      <input type="text" class="form-control" formControlName="codePostal" id="codePostal" [ngClass]="{ 'is-invalid': submitted && f.codePostal.errors }"
        placeholder="ex: 69000">
      <div *ngIf="submitted && f.codePostal.errors" class="invalid-feedback">
        <div *ngIf="f.codePostal.errors.required">Le code postal est requis !</div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btnPosterOffre" type="submit">Poster mon offre</button>
    </div>

  </form>
</div>