.bodyCreerOffre {
    padding-bottom: 5%;
    background-color: #ffffff;
}

.btnPosterOffre {
    background-color: #26a69a;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
}


.btnPosterOffre:hover {
    background-color: #2ed1bb;
}

.titre {
    color: #FB6F07;
    text-align: center;
    font-weight: bolder;
    padding-top: 3vh;
}
.titres {
    color: #FB6F07;
}

.is-invalid {
    border-left: solid 6px red;
}
  
 
form {
    color: #26a69a;
    margin: 0 auto;
    padding-top: 3vw;
    padding-bottom: 3vh;
}
  
h1,
h2 {
    text-align: center;
    font-weight: bolder;
}

.calendrier {
    color: #26a69a;
}
  
input,
select,
textarea {
    background-color: #ebebeb;
    border: none;
}

::placeholder {
    color: #C2BFCA;
    opacity: 1;
}