<br>
<app-alert></app-alert>
<div class="container-fluid col-12 col-md-10 bodyAideAdmin">

  <div class="container p-0 componentBodyAide"> 

      <h1 class="titre">Mes textes d'Aide</h1>

      <div class="bodyAide">
        <div *ngIf="aides" class="table-responsive">
          <table class="table table-striped thead-light table-hover">
            <thead class="tableHeader">
              <tr>
                <th>Titre</th>
                <th>Intertitre</th>
                <th>Texte</th>
              </tr>
            </thead>
            <tbody *ngFor="let aide of aides; let i=index">
                <tr>
                  <td>{{aide.titre}}</td>
                  <td> {{aide.intertitre}}</td>
                  <td> {{aide.texte}}</td>
                  <td><button routerLink="/boiteaoutils/aide" class="material-icons" style="color:#26a69a; cursor: pointer;">remove_red_eye</button></td>
                  <td><button [routerLink]="['/admin/aide/modifieraide', aide.id]" class="material-icons"
                          style="color:blue; cursor: pointer;">edit</button></td>
                  <td><button class="material-icons" style="color:red;" (click)=showConfirm(aide.id)>delete</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
