@media screen and (min-width: 601px) {
    .titre {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .titre {
        font-size: 6vw;
    }
}

img {
    max-width: 10vh;
}

.bodyAideAdmin {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.titre {
    color: #26a69a;
    text-align: center;
    font-weight: bolder;
    padding: 3vh;
}

.material-icons {
    border-radius: 5px;
    border: 2px solid;
    width: 65px;
    height: 45px;
}
