<div class="container bodyActeurs">
  <h5>Acteurs principaux</h5>
  <hr>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <img src="https://i.ibb.co/k6fbhtg/Logo-Souffl-9-couleur.jpg" alt="Avatar">
    </div>
    <div class="col-md-4 col-sm-9 partenaire">
      <div>
        <h3>Souffle 9</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse atque ab omnis, dignissimos nesciunt
          perferendis nisi voluptates non explicabo earum provident nulla nihil amet quam vitae, asperiores recusandae
          accusantium alias.</p>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <img src="https://i.ibb.co/2WzyBP9/logo-pro-btp.jpg" alt="Avatar">
    </div>
    <div class="col-md-4 col-sm-9 partenaire">
      <div>
        <h3>Pro BTP</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse atque ab omnis, dignissimos nesciunt
          perferendis nisi voluptates non explicabo earum provident nulla nihil amet quam vitae, asperiores recusandae
          accusantium alias.</p>
      </div>
    </div>
  </div>
</div>