.bodyFAQ {
    background-color: white;
}

a {
    color: #00AC9A;
}

a:hover {
    color: #008472;
}

.titre {
    color: #26a69a;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    padding-top: 3vw;
    padding-bottom: 3vh;
}

p {
    text-align: center;
    margin: 0 auto;
}

.presentation {
    background-color: #E8E8E8;
    padding: 2vh;
}

.blocListe{
    padding-top: 3vh;
}