<div class="container bodyFAQ">
  <h1 class="titre">Foire Aux Questions</h1>
  <hr>
  <div class="presentation">
    <p>Vous avez des questions sur le site <b>Adopt’un Stage</b> ? Sur la recherche de stages ? Sur
      l’accueil d’un stagiaire ? Nous essayons de répondre au mieux à vos interrogations, mais si
      vous ne trouvez pas la réponse ci-dessous, n’hésitez pas à <a href="#">nous contacter directement</a> !</p>
    </div>

    <!--Texte des questions temporairement inscrites en brut, jusqu'à mise en lien avec base de données-->
    <div class="blocListe">
    <ul>
        <li>Combien de temps dure le stage ?</li>
        <li>Quand ont lieu les stages ?</li>
        <li>Qui contacter dans un collège ?</li>
        <li>Comment gérer la convention de stage ?</li>
        <li>Quels sont les horaires ?</li>
        <li>Comment s'organise le trajet ?</li>
        <li>Comment accueillir les stagiaires ?</li>
        <li>Comment s'organisent les repas ?</li>
        <li>Comment préparer la fin du stage ?</li>
        <li>Comment mobiliser la communication interne ?</li>
        <li>Quel est le cadre réglementaire ?</li>
      </ul>
    </div>

  <hr>
  <app-liste-faq></app-liste-faq>
</div>