<div class="container bodyFormConnect">
    <app-formulaire-connexion></app-formulaire-connexion>
</div>

<div class="container bodyFormulaire">
    <div class="col-sm-12 titres  text-center">
        <h1>Création d'un compte stagiaire</h1>
    </div>
    <div class="modeEmploi  text-center">
        <p>Inscris-toi en quelques clics et trouve le stage qui te plait ! </p>
        <ol>
            <li>Remplis le formulaire ci-dessous pour créer ton compte personnel.</li>
            <li>Réponds aux offres de stages en ligne avec ton CV.</li>
            <li>Gère tes candidatures en ligne directement sur le site internet.</li>
            <li>Consulte les conseils et les documents mis à ta disposition pour bien réussir ton stage.</li>
        </ol>
        <p>Des questions ? Consulte notre <a id="lienFaq" routerLink="/faq">FAQ</a> ou pose-nous directement ta
            question
            <a id="lienFaq" routerLink="/contact">ici</a>.</p>
    </div>
    <app-formulaire-inscription-stagiaire></app-formulaire-inscription-stagiaire>
</div>