.btnRetour {
    background-color: #2fa89a;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
    width: 250px;
    height: 65px;
    margin-right: 6%;
}

.btnPost {
    padding-bottom: 5%;
    margin-top: 5%;
}

.btnValid {
    background-color: #2fa89a;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
    width: 250px;
    height: 65px;
    margin-left: 6%;
}

.btn:hover {
    background-color: #2ed1bb;
}