.bodyModifierOffre {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btnModifierOffre {
    background-color: #26a69a;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);

}


.btnModifierOffre:hover {
    background-color: #2ed1bb;
}

.textetoggle {
    margin-left: 15px;
    font-size: 18px;
    vertical-align : 50%;
}
#boutontoggle{
    margin-bottom: 15px;
}