<div *ngIf="actu" class="container col-12 col-md-10 bodyModifierActu">
  <h1 class="titre">Modifier les informations du créateur</h1>
  <app-alert></app-alert>
  <form class="col-md-8" (ngSubmit)="onSubmit()" [formGroup]="formActu">

    <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être
      remplis.</p>

    <div class="form-group">
      <label for="titre">Titre*</label>
      <input id="titre" formControlName="titre" type="text" class="form-control" value="{{actu.titre}}">
      <label class="text-danger" *ngIf="formActu.controls['titre'].hasError('required')">
        Le titre est requis !
      </label>
    </div>

    <div class="form-group">
      <label for="exergue">Exergue*</label>
      <textarea rows="3" id="exergue" formControlName="exergue" type="text" class="form-control" placeholder="Décrivez en quelques mot l'activité de votre actu."></textarea>
      <label class="text-danger" *ngIf="formActu.controls['titre'].hasError('required')">
        L'exergue est requise !
      </label>
    </div>

    <div class="form-row logo">
      <div class="form-group col-md-4">
        <img *ngIf="actu.logo.fileDownloadUri" id="logo" src="{{actu.logo.fileDownloadUri}}" alt="logo de l'actu">
        <img *ngIf="!actu.logo.fileDownloadUri" id="logo" src="assets/img/LogoAdopt.png" alt="logo par défaut">
      </div>
      <div class="form-group col-md-8">
        <label for="logo" class="label-file">Changer le logo :</label>
        <p style="font-style: italic">*Formats acceptés : jpg, png, jpeg, gif.</p>
        <input (change)="onChange($event)" type="file" class="form-control-file input-file" id="logo" name="logo">
      </div>
    </div>

    <div class="form-group">
      <label for="legendeImage">Légende image</label>
      <input type="text" formControlName="legendeImage" class="form-control" id="legendeImage" value="{{actu.legendeImage}}">
    </div>

    <div class="form-group">
      <label for="paragraphe1">Paragraphe 1*</label>
      <textarea class="form-control" formControlName="paragraphe1" [ngClass]="{ 'is-invalid': submitted && f.paragraphe1.errors }"
        id="paragraphe1" rows="3" value="{{actu.paragraphe1}}">
        </textarea>
      <div *ngIf="submitted && f.paragraphe1.errors" class="invalid-feedback">
        <div *ngIf="f.paragraphe1.errors.required">Le premier paragraphe est Requis !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="intertitre1">Intertitre 1</label>
      <input type="text" class="form-control" formControlName="intertitre1" id="intertitre1" value="{{actu.intertitre1}}">
    </div>

    <div class="form-group">
      <label for="paragraphe2">Paragraphe 2</label>
      <textarea class="form-control" formControlName="paragraphe2" id="paragraphe2" rows="3" value="{{actu.paragraphe2}}">
        </textarea>
    </div>

    <div class="form-group">
      <label for="intertitre2">Intertitre 2</label>
      <input type="text" class="form-control" formControlName="intertitre2" id="intertitre2" value="{{actu.intertitre2}}">
    </div>

    <div class="form-group">
      <label for="paragraphe3">Paragraphe 3</label>
      <textarea class="form-control" formControlName="paragraphe3" id="paragraphe3" rows="3" value="{{actu.paragraphe3}}">
        </textarea>
    </div>

    <div class="form-group d-flex justify-content-around">
      <button type="button" class="btn btnModifierOffre" (click)="retourPage()">Retour</button>
      <button [disabled]="formActu.invalid" type="submit" class="btn col-12 col-md-5">Valider les modifications</button>
    </div>
  </form>

</div>