<div class="col-12 p-0 bodyActuDashboard ">
  <div class="titre">
    <h2>DERNIERES ACTUALITES</h2>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="actus" [class.isMobile]="isMobile" matSort>

      <ng-container matColumnDef="titre">
        <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
        <mat-cell *matCellDef="let actu">
          {{actu.titre}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exergue">
        <mat-header-cell *matHeaderCellDef> Exergue </mat-header-cell>
        <mat-cell *matCellDef="let actu">
          {{actu.exergue}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell *matCellDef="let actu">
          <img *ngIf="actu.image.fileDownloadUri" class="imgDescActu" src="{{entreprise.logo.fileDownloadUri}}" alt="image actualité">
          <img *ngIf="actu.image.fileDownloadUri == null" class="imgDescActu" src="assets/img/LogoAdopt.png" alt="image par default">
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator paginator [pageSize]="pageSize" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)"></mat-paginator>
  </div>
</div>

<div class="row justify-content-center">
    <button type="button" class="btn col-5" routerLink="/admin/actus/listeactus">Voir toutes les actualités</button>
</div>