<div class="container">
    <div *ngIf="offres" class="table-responsive">
        <table class="table table-striped thead-light table-hover">
            <thead class="bgHead">
                <tr>
                    <th></th>
                    <th>Secteur</th>
                    <th>Offre</th>
                    <th>Ville</th>
                    <th>Période</th>
                    <th>Détail</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offre of offres async" style="cursor: pointer;" [routerLink]="['/detailoffre', offre.id]">
                    <td><img src="../../../../assets/img/computuer.jpeg" alt=""></td>
                    <td>{{offre.entreprise.secteur}}</td>
                    <td> {{offre.titre}}<br> {{offre.entreprise.raisonSociale}} </td>
                    <td> {{offre.ville}} </td>
                    <td> {{offre.dateDebut}} à {{offre.dateFin}} </td>
                    <td><i [routerLink]="['/detailoffre', offre.id]" class="material-icons" style="color:#00b499; cursor: pointer;">remove_red_eye</i></td>
                    <td style="background-color : #00b499; color: white;" *ngIf="offre.active == true">Dispo</td>
                    <td style="background-color : #e00000; color: white;" *ngIf="offre.active == false">Pourvue</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>