.accueilBoutons {
    background-color: white;
}

.accueilQuiSommesNous {
    background-color: white;
}

.accueilBesoinAide {
    background-color: white;
}

/* .accueilActusInfos {
    background-color: white;
} */