<!-- <div class="container">
  <div class="row relou">
    <div class="col-12">
      <p><strong>Username:</strong> {{info.username}}</p>
      <p><strong>Roles:</strong> {{info.authorities}}</p>
      <p><strong>Token:</strong> {{info.token}}</p>
    </div>
  </div>
</div> -->
<div class="container accueilActusInfos">
  <app-actus-accueil></app-actus-accueil>
</div>

<div class="container accueilBoutons">
  <app-bouton-inscription-accueil></app-bouton-inscription-accueil>
</div>



<div class="container accueilListeOffres">
      <app-offres-accueil></app-offres-accueil>
</div>
<br>
<br>

<div class="container accueilQuiSommesNous">
  <app-qui-sommes-nous></app-qui-sommes-nous>
</div>

<div class="container accueilBesoinAide p-2">
  <app-besoin-aide></app-besoin-aide>
</div>