.postArea {
    background-color: rgb(226, 226, 226);
    border: none;
}

.file {
    color: #2fa89a;
}

h4 {
    font-weight: bolder;
}

.btnRetour {
    background-color: rgb(139, 139, 139);;
    border: none;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px 25px 5px 25px;
    font-weight: bolder;
    margin: 2%;
}
.btnRetour:hover {
    background-color: #C2BFCA;

}

.btnPost {
    padding-bottom: 5%;
}

.btnValid {
    background-color: #00ac9a;
    border: none;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px 25px 5px 25px;
    font-weight: bolder;
    margin: 2%;
}

.btnValid:hover {
    background-color: #2ed1bb;
}

::placeholder {
    color: #C2BFCA;
    opacity: 1;
}