<form [formGroup]="formPostuler" (ngSubmit)="onSubmit()">
  <div class="row postulCenter d-flex justify-content-center">
    
      <div class="form downloadfiles">
        <div class="row form-group file">
          <p class="col-12">Un petit mot pour l'entreprise</p>
          <textarea formControlName="motivation" class="col-12 postArea" type="text" name="text" placeholder="Présentes-toi brièvement avec ton nom, prénom, établissement et date de stage par exemple."></textarea>
        </div>
      </div>

  </div>

  <div class="btnPost d-flex justify-content-center">

    <a class="btn btnRetour" role="button" id="moredetails" target="_blank" href="#">
      <p>Retour</p>
    </a>

    <button type="submit" class="btn btnValid mb-2">Valider la <br>candidature</button>
  </div>
</form>
