.postArea {
    height: 150px;
    background-color: rgb(226, 226, 226);
    border: none;
}

.downloadfiles {
    color: #2fa89a;
    font-weight: bolder;
}

.btnRetour {
    background-color: #2fa89a;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
    width: 250px;
    height: 65px;
}

.btnPost {
    padding-bottom: 5%;
}

.btnValid {
    background-color: #2fa89a;
    color: white;
    border: none;
    box-shadow: 3px 3px 8px rgb(43, 43, 43);
    width: 250px;
    height: 65px;
}

.btn:hover {
    background-color: #2ed1bb;
}

::placeholder {
    color: #C2BFCA;
    opacity: 1;
}