<div class="container-fluid bodyPagePartenairesAdmin">
    <br>
  
    <div class="headerPartenaires">
      <div class="col-sm-12 titre">
        <h1>
          Partenaires
        </h1>
      </div>
      <hr>
      <div class="d-flex justify-content-around">
        <button type="button" class="btn col-3 col-sm-3" routerLink="/admin/partenaires/list" routerLinkActive="router-link-active">Liste
          des partenaires</button>
        <button type="submit" class="btn col-3 col-sm-3" routerLink="/admin/partenaires/creerpartenaire" routerLinkActive="router-link-active">Créer
          un partenaire</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>