<div class="container bodyPartenaires">
    <h1 class="titre">NOS PARTENAIRES</h1>
    <hr>
    <div class="presentation">
        <p>Adopt’un stage est un projet à l’initiative du fonds de dotation <b>Souffle</b> 9 et <b>Pro BTP</b>. Ce
            projet
            a pu voir le jour grâce à la participation de <b>BeCom</b>, junior entreprise de Sup de Com Lyon et
            des élèves de la <b>WildCodeSchool</b>.
            <br>
            <br>
            Nous tenons à remercier aussi les équipes pédagogiques des collèges du 9 ème arrondissement
            de Lyon (Jean de Verrazanne, Jean Perrin, Victor Schoechler) ainsi que l’adjoint à l’éducation
            de la Mairie Lyon 9 qui soutiennent le projet depuis le début.
            <br>
            <br>
            Nous remercions aussi toutes les entreprises et les associations qui accueillent les élèves en
            stage dans leur entreprise.</p>
    </div>
    <hr>
    <app-participants></app-participants>
</div>