img {
    width: 20vh;
    justify-content: center;
}

.entreprise {
    background-color: #E9E9E9;
    padding: 2vh;
}

.row {
    margin-top: 2vh;
}

a,
h3 {
    color: #00AC9A;
}

a:hover {
    color: #008472;
}

.partenaires {
    padding-bottom: 5vh;
}