.bodyDetailNonConnecte {
    background-color: #ffffff;
    text-align: center;
}

img {
    width: 50%;
}

.bodyBoutons {
    background-color: #ffffff;
    text-align: center;
}

h6 {
    font-weight: bolder;
    color: #2fa89a;
}