<div class="container bodyDetailNonConnecte">
  <div class="row backimg">
    <div class="col-12 mt-5">
      <h4>Oups, vous n'avez pas accès à cette page !</h4>
      <br>
      <h6>
        Pour avoir accès au détail des offres, vous devez tout d'abord créer un compte, ou vous connecter si vous en
        possédez déjà un.
      </h6>
      <a href="javascript:history.go(-1)">Revenir à l'accueil</a>
    </div>
  </div>
  <br>
  <app-formulaire-connexion></app-formulaire-connexion>
  <hr>
  <app-boutons-inscription-connexion></app-boutons-inscription-connexion>

</div>