<div class="row p-0 mb-5">
  <div class="col-md-7 p-0">
    <div class="card">
      <div class="card-header">
        <h2>QUI SOMMES-NOUS ?</h2>
      </div>
      <p>Adopt'Un Stage permet aux jeunes collégiens de 3ème de trouver rapidement et facilement un stage en étant mis
        en relation avec les entreprises via un simple système d'annonce</p>
      <p>Pour en savoir plus sur notre projet, rends-toi vite sur l'onglet <a routerLink="/quisommesnous">Qui
          sommes-nous !</a></p>
    </div>
  </div>
  <div class="col-md-5 p-0 videoQsn">
    <video class="videowidth center" controls>
      <source src="../../../../assets/video/Powtoon.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>