.center {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.card p {
    margin: 4%;
}

h2 {
    color: #FB6F07;
    font-weight: bolder;
}

.videoQsn {
    display: flex;
    align-items: center;
}