.blocAide{
    background-color: white;
}

h2 {
    color: #26a69a;
    text-align: center;
    font-weight: bolder;
    padding-top: 2vw;
    padding-bottom: 2vh;
}

img {
    max-width: 2wh;
    
}

p {
    font-size: 1.2em;
}