<div class="container bodyAide">
  <h1 class="titre">AIDE</h1>
  <hr>
  <div >
    <p>Vous avez besoin de plus de précisions concernant votre recherche de stage ou pour accueillir un stagiaire?
      Nous vous apportons des pistes pour vous aider dans vos démarches.
    </p>
  </div>

  <hr>
  <app-liste-aide></app-liste-aide>
  <hr>
  <p>
    Pour plus d'informations, explorez le <a href="https://readymag.com/edugouv/tutostages/troisieme-employeur/" target="_blank">Tuto des stages en entreprises </a>!
  </p>
  <hr>

  <div class="blocInfo">
    <h2>Vous souhaitez contacter un collège ?</h2>
  </div>
  <div class=blocCollege>
    <div *ngFor="let college of colleges">
      <p>{{college.nom}} : {{ college.contactPublic }}</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>