<div class="container bodyDetailOffre">
  <div class="row detailOffreCenter d-flex justify-content-center">

    <div class="headerDetailOffre text-center">
      <h2>OFFRE DE STAGE</h2>
      <hr class="line">
    </div>
  </div>
  <app-description-offre [offre]="offre"></app-description-offre>
  <div class="container p-0 mt-3">
    <div class="row">
      <app-infos-stage class="col-md-6"></app-infos-stage>
      <app-description-entreprise [offre]="offre" class="col-md-6"></app-description-entreprise>
    </div>
  </div>
  <app-boutons-offre [offre]="offre"></app-boutons-offre>

</div>