<div class="container descOffreBody">
  <div class="row titleDescOffre justify-content-center">
  
<h1><i class="material-icons md-36">description</i>Description de l'offre</h1>
</div>
<div class="row textDescOffre">
  <p>Reveal est une  société spécialisée qui recherche des terrains à batir et des immeubles à restructurer pour le compte des promoteurs et investisseurs immobiliers. Après une présentation complète de l'équipe (quatre personnes) et de notre activité, le stage consistera à assister aux réunions et visites de sites, effectuer des reconnaissances de sites et des recherches d'informations sur internet. Le stage est proposée à Saint Denis, dans le quartier Pleyel (métro Carrefour Pleyel -ligne 13)</p>
</div>
</div>
