<div *ngIf="offre" class="container col-12 p-0 col-md-10 d-flex justify-content-center bodyModifierOffreAdmin">
  <div class="row col-12 p-0">
    <div class="col-md-4 p-0 cardEntreprise">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><b>{{offre.entreprise.raisonSociale}}</b></mat-card-title>
          <mat-card-subtitle><b>secteur :</b> {{offre.entreprise.secteur}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="offre.entreprise.logo.fileDownloadUri" class="imgDescEntreprise" src="{{offre.entreprise.logo.fileDownloadUri}}"
          alt="logo entreprise">
        <img mat-card-image *ngIf="offre.entreprise.logo.fileDownloadUri == null" class="imgDescEntreprise" src="assets/img/LogoAdopt.png"
          alt="logo par default">
        <mat-card-content>
          <p>
            {{offre.entreprise.description}}
          </p>
          <p><i class="material-icons">web</i><b>Site web : </b> <a href="{{offre.entreprise.siteWeb}}" target="_blank">{{offre.entreprise.siteWeb}}</a>
          </p>
          <p><i class="material-icons">email</i> <b>Mail :</b> {{offre.entreprise.username}}</p>
          <p><i class="material-icons">phone</i> <b>Tel :</b> {{offre.entreprise.tel}}</p>
          <p><i class="material-icons">supervisor_account</i> <b>Référent :</b> {{offre.entreprise.name}}
            {{offre.entreprise.prenom}}</p>

          <p><i class="material-icons">home</i> <b>Adresse :</b> <br>
            {{offre.entreprise.adresse}} <br>
            {{offre.entreprise.ville}} <br>
            {{offre.entreprise.codePostal}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 p-0">
      <app-modifier-offre-admin></app-modifier-offre-admin>
    </div>
  </div>
</div>